$exo: 'Exo 2', sans-serif;

$bold: 700;
$normal: 400;
$light: 300;

$blue: #00fff6;
$green: #bfffcf;
$greenLt: rgba(191, 255, 207, .5);

@include keyframes(flickerAnimation1) {
  0%   { opacity:.55; }
  50%  { opacity:1; }
  100% { opacity:.55; }
}

@include keyframes(flickerAnimation2) {
  0%   { opacity:.65; }
  50%  { opacity:1; }
  100% { opacity:.65; }
}

@include keyframes(flickerAnimation3) {
  0%   { opacity:.5; }
  50%  { opacity:1; }
  100% { opacity:.5; }
}

@include keyframes(auraAnimation) {
    0%   { transform: scale(.9); }
    50%  { transform: scale(1); }
    100% { transform: scale(.9); }
}