@import 'reset';
@import 'bourbon';
@import 'neat';
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,700,700italic,400italic,300,300italic);
@import 'mixins';

html, body {
    height: 100%;
    width: 100%;
}

body {
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $exo;
}

.header,
.container,
.footer {
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}

#site-head {
    position: absolute;
    top: 150px;
}

#starBg {
    background: url(../images/bg_space.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 120% 140%;
    background-position: center center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0 !important;
    left: 0 !important;
}

#wrap,
#main {
    height: 100%;
    position: relative;
}

#intro {
    @include clearfix;
    position: absolute;
    top: 50%;
    max-width: 500px;

    h1 {
        font-size: 18px;
        font-style: italic;
        font-weight: $light;
        letter-spacing: 1px;
        text-transform: capitalize;
        margin: 0;

        span {
            color: $green;
            display: block;
            letter-spacing: normal;
            line-height: .9;
            font-size: 80px;
            font-weight: $bold;
            text-transform: uppercase;

            span {
                color: $blue;
            }
        }
    }

    h2 {
        color: white;
        font-size: 24px;
        font-style: italic;
        font-weight: $light;
        line-height: 1.5em;
        margin: 0;
        text-align: right;
    }
}

// #starmap {
//     position: absolute;
//     right: 0;
//     top: 50%;
// }


.star {
    background: url('../images/star_rays.png') no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;

    span {
        background: url('../images/star_aura.png') no-repeat;
        background-position: center;
        background-size: contain;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
    }

}

#star1 {
    @include animation(flickerAnimation1 1.25s infinite);
    height: 600px;
    width: 600px;
    margin-top: -380px;
    right: -180px;

    span {
        @include animation(auraAnimation 1.25s infinite);
        height: 60px;
        width: 60px;
        margin: -30px 0 0 -30px;
    }
}

#star2 {
    @include transform(rotate(25deg));
    @include animation(flickerAnimation2 1s infinite);
    height: 300px;
    width: 300px;
    margin-top: -100px;
    right: 110px;

    span {
        @include animation(auraAnimation 1s infinite);
        height: 30px;
        width: 30px;
        margin: -15px 0 0 -15px;
    }
}

#star3 {
    @include transform(rotate(100deg));
    @include animation(flickerAnimation3 1.5s infinite);
    height: 200px;
    width: 200px;
    margin-top: -140px;
    right: 270px;

    span {
        @include animation(auraAnimation 1.5s infinite);
        height: 20px;
        width: 20px;
        margin: -10px 0 0 -10px;
    }
}